/* main.css de toda la página */
@charset "ISO-8859-1";

h1, h2, h3, h4, p, ul, body {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a, a:hover, a:focus {
	text-decoration: none;
}

/* BASE
   ========================================================================= */
html {
	width: 100%;
	overflow-x: hidden;
	font-size: 20px;
	position: relative;
	font-family: 'Roboto', sans-serif;
}

h1 {
	text-align: center;
	font-size: 25px;
	margin-bottom: 25px;
}

h4 {
	margin: 5px 0;
}

p, span {
	font-size: 15px;
}

.footer_fijo {
	position: fixed;
	bottom: 0;
}

.avisoLegal_movil {
	text-align: center;
	padding: 10px;
}

a.enlace_legal:hover {
	color: black;
}
/* HEADER
   ========================================================================= */

/* CABECERA CON MENU DE NAVEGACION */
nav{
	height: 90px;
}
.titulo_movil {
	width: 100%;
	position: fixed;
	top: 0;
	text-align: center;
	background-color: white;
	z-index: 99;
}

.titulo_movil img {
	height: 50px;
}

/* Hacemos flexible la lista del nav. */
nav>ul {
	display: flex;
	justify-content: space-around;
	position: fixed;
	background-color: white;
	padding-top: 10px;
}

nav>#lista_principal_index {
	width: 100%;
	z-index: 99;
	font-size: 11px;
}

#sobreNosotros, #consultoria, #campaign, #contacto, #blog {
	display: none;
}

#menu_consultoria {
	font-size: 18px;
	background-color: white;
	padding: 5px 10px 5px 10px;
	color: black;
	position: absolute;
	border-radius: 5px;
	background: rgba(226, 226, 226, 1);
	background: -moz-linear-gradient(bottom, rgba(226, 226, 226, 1) 0%,
		rgba(209, 209, 209, 1) 0%, rgba(219, 219, 219, 1) 14%,
		rgba(244, 244, 244, 1) 58%, rgba(254, 254, 254, 1) 76%);
	background: -webkit-gradient(bottom top, up top, color-stop(0%, rgba(226, 226, 226,
		1)), color-stop(0%, rgba(209, 209, 209, 1)),
		color-stop(14%, rgba(219, 219, 219, 1)),
		color-stop(58%, rgba(244, 244, 244, 1)),
		color-stop(76%, rgba(254, 254, 254, 1)));
	background: -webkit-linear-gradient(bottom, rgba(226, 226, 226, 1) 0%,
		rgba(209, 209, 209, 1) 0%, rgba(219, 219, 219, 1) 14%,
		rgba(244, 244, 244, 1) 58%, rgba(254, 254, 254, 1) 76%);
	background: -o-linear-gradient(bottom, rgba(226, 226, 226, 1) 0%,
		rgba(209, 209, 209, 1) 0%, rgba(219, 219, 219, 1) 14%,
		rgba(244, 244, 244, 1) 58%, rgba(254, 254, 254, 1) 76%);
	background: -ms-linear-gradient(bottom, rgba(226, 226, 226, 1) 0%,
		rgba(209, 209, 209, 1) 0%, rgba(219, 219, 219, 1) 14%,
		rgba(244, 244, 244, 1) 58%, rgba(254, 254, 254, 1) 76%);
	background: linear-gradient(to up, rgba(226, 226, 226, 1) 0%,
		rgba(209, 209, 209, 1) 0%, rgba(219, 219, 219, 1) 14%,
		rgba(244, 244, 244, 1) 58%, rgba(254, 254, 254, 1) 76%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2',
		endColorstr='#fefefe', GradientType=1);
}

#menu_consultoria li {
	padding-top: 8px;
}

#menu_consultoria li a:hover {
	color: #2CA089;
}

#sobreNosotros2 a:hover, #consultoria2 a:hover, #campaign2 a:hover,
	#contacto2 a:hover, #blog2 a:hover {
	color: #2CA089;
}

nav>ul>li {
	padding-top: 2px;
	padding: 9px;
}

nav>ul>li a {
	color: black;
}

nav>ul>li>a:hover, nav>ul>li>a:hover>.fa {
	color: #2CA089;
}

a.seleccionado {
	color: #2CA089;
}

/* Inicio ocupara todo el espacio sobrante */
#inicio {
	flex: 1 1 auto;
	padding-left: 20px;
	padding-top: 5px;
}

#inicio img {
	height: 40px;
}

#inicio img:hover {
/*	height: 75px;
	transition: height 0.5s;
	opacity: 2;
	*/
}

.fa {
	color: black;
	padding-right: 8px;
	font-size: 1.8rem;
	cursor: pointer;
}

/* Mostramos el menu para dispositivos moviles*/
nav>ul>li#menu_moviles {
	display: inline;
	padding-top: 5px;
}

/* Lista del menu para dispositivos moviles, la ocultamos y luego la mostraremos con Jquery */
nav>ul>li>ul#lista_movil {
	background-color: white;
	right: 0;
	padding: 5px 10px 5px 10px;
	color: black;
	display: none;
	position: absolute;
	border-radius: 5px;
	background: rgba(226, 226, 226, 1);
	background: -moz-linear-gradient(bottom, rgba(226, 226, 226, 1) 0%,
		rgba(209, 209, 209, 1) 0%, rgba(219, 219, 219, 1) 14%,
		rgba(244, 244, 244, 1) 58%, rgba(254, 254, 254, 1) 76%);
	background: -webkit-gradient(bottom top, up top, color-stop(0%, rgba(226, 226, 226,
		1)), color-stop(0%, rgba(209, 209, 209, 1)),
		color-stop(14%, rgba(219, 219, 219, 1)),
		color-stop(58%, rgba(244, 244, 244, 1)),
		color-stop(76%, rgba(254, 254, 254, 1)));
	background: -webkit-linear-gradient(bottom, rgba(226, 226, 226, 1) 0%,
		rgba(209, 209, 209, 1) 0%, rgba(219, 219, 219, 1) 14%,
		rgba(244, 244, 244, 1) 58%, rgba(254, 254, 254, 1) 76%);
	background: -o-linear-gradient(bottom, rgba(226, 226, 226, 1) 0%,
		rgba(209, 209, 209, 1) 0%, rgba(219, 219, 219, 1) 14%,
		rgba(244, 244, 244, 1) 58%, rgba(254, 254, 254, 1) 76%);
	background: -ms-linear-gradient(bottom, rgba(226, 226, 226, 1) 0%,
		rgba(209, 209, 209, 1) 0%, rgba(219, 219, 219, 1) 14%,
		rgba(244, 244, 244, 1) 58%, rgba(254, 254, 254, 1) 76%);
	background: linear-gradient(to up, rgba(226, 226, 226, 1) 0%,
		rgba(209, 209, 209, 1) 0%, rgba(219, 219, 219, 1) 14%,
		rgba(244, 244, 244, 1) 58%, rgba(254, 254, 254, 1) 76%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2',
		endColorstr='#fefefe', GradientType=1);
}

nav>ul>li>ul#lista_movil a {
	color: black;
}

nav>ul>li>ul#lista_movil {
	font-size: 18px;
}

nav>ul>li>ul#lista_movil #menu_consultoria2 {
	font-size: 15px;
}

nav>ul>li>ul#lista_movil li {
	padding: 5px;
}

img.bandera {
	width: 40px;
	border-radius: 6px;
	cursor: pointer;
	margin-right: 10px;
}

.espanola {
	display: none;
}

/* CONTENIDO Y TEXTOS
   ========================================================================= */
.presentacion {
	text-align: center;
	font-size: 20px;
	padding-top: 80px;
	width: 90%;
	margin: 0 auto;
}

.imagen {
	text-align: center;
	width: 90%;
	margin: 0 auto;
}

.imagen img {
	width: 65%;
	min-width: 250px;
	max-width: 700px;
}

.ingles {
	display: none;
}

/* EVENTOS Y BLOG
   ========================================================================= */
.explicacion_blog h3 {
	font-size: 20px;
	margin: 0 10px;
}

.contenedor_articulo_secundario {
	margin: 20px auto;
}

img.img_ordenador {
	display: none;
}

.explicacion_articulo {
	width: 80%;
	margin: 20px auto;
	text-align: left;
}

/*CONTENEDOR EVENTOS Y ARTICULOS SECUNDARIOS*/
.articulo_secundario h3 {
	font-size: 18px;
	margin: 15px;
	text-align: center;
}

.articulo_secundario>.explicacion_articulo
	{
	width: 100%;
	margin: 20px 0;
}

.contenedor_eventos_secundarios, .contenedor_articulo_secundario {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}

.contenedor_eventos {
	margin-top: 25px;
}

.evento_secundario, .articulo_secundario {
	margin: 20px;
	min-width: 280px;
	max-width: 350px;
	flex: 1 1 250px;
	flex-flow: row wrap;
	text-align: center;
}

.evento_secundario img, .articulo_secundario img {
	width: 80%;
}

/* GALERIA
   ========================================================================= */
.explicacion {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 15px;
	padding-top: 100px;
}

.productos {
	padding-top: 20px;
}

.productos h3 {
	font-size: 20px;
	text-align: center;
	margin-bottom: 15px;
}

.contenedor_fotos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	text-align: center;
}

.foto {
	min-height: 250px;
	background-size: cover;
	margin: 10px;
	width: 300px;
}

/* BLOG
   ========================================================================= */
.explicacion_blog {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 15px;
	padding-top: 80px;
}

.explicacion_articulo {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 15px;
	padding-top: 30px;
}

.fechaArticulo p {
	text-align: center;
}

.ultimo {
	padding-top: 0;
}

.explicacion_blog h3 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 25px;
}

h3.titulo_articulo {
	text-align: center;
	font-size: 18px;
	margin-bottom: 25px;
}

.texto_leerMas {
	display: none;
}

.leerMenos {
	display: none;
}

.leerMas, .leerMenos {
	color: #ff3123;
	cursor: pointer;
}

.img_articulo {
	width: 80%;
	margin-top: 25px;
}

.img_articulo_secundaria {
	width: 90%;
}

p.pieFoto {
	color: grey;
	font-size: 12px;
}

.articulo {
	text-align: center;
	margin-bottom: 30px;
}

/* CONTACTO
   ========================================================================= */
.contenedor_contacto h3 {
	margin: 0 35px 35px 35px;
	text-align: center;
}

.contenedor_contacto {
	width: 90%;
	margin: 0 auto;
	padding-top: 100px;
}

.contenedor_contacto a {
	color: black;
}

.contenedor_contacto a:hover {
	color: #d8c12d;
}

/* FORMULARIOS
   ========================================================================= */
h3.error {
	color: red;
}

h3.noerror {
	color: blue;
}

label {
	font-size: 18px;
	width: 100%;
	text-align: left;
}

.derecha {
	float: right;
}

.izquierda {
	float: left;
}

.container {
	width: 100%;
	min-width: 250px;
	margin: 0 auto;
}

#errores {
	color: red;
	font-size: 20px;
	text-align: left;
	margin-bottom: 10px;
}

#errores h3 {
	color: red;
}

::-moz-selection {
	background: #4aaf51;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #4aaf51;
	color: #fff;
	text-shadow: none;
}

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #4aaf51;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active {
	outline: 0;
	opacity: 0.6;
	color: #fff;
}

.btn-link-1.btn-link-1-facebook {
	background: #4862a3;
}

.btn-link-1.btn-link-1-twitter {
	background: #55acee;
}

.btn-link-1.btn-link-1-google-plus {
	background: #dd4b39;
}

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.btn-link-2:hover, .btn-link-2:focus, .btn-link-2:active, .btn-link-2:active:focus
	{
	outline: 0;
	opacity: 0.6;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
}

/***** Top content *****/
.inner-bg {
	padding: 0 0 50px 0;
	margin-top: 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 {
	color: #fff;
}

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p {
	opacity: 0.9;
}

.top-content .description a {
	color: #fff;
}

.top-content .description a:hover, .top-content .description a:focus {
	border-bottom: 1px dotted #fff;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #fff;
	opacity: 0.9;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 100%;
	padding-top: 25px;
}

.form-top-left h3 {
	margin-top: 0;
}

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 45px 30px 25px;
	background: #eee;
	opacity: 0.9;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 60%;
	cursor: pointer;
	min-width: 140px;
	margin-top: 15px;
}

.form-bottom form .input-error {
	border-color: #4aaf51;
}

label .fa {
	color: #7892c2;
	font-size: 20px;
	margin-left: 5px;
	cursor: help;
	padding-right: 0;
}

.tooltip {
	color: black;
	font-size: 15px;
	position: absolute;
	background-color: #eeeefe;
	border: 1px solid #aaaaca;
	border-radius: 5px;
	padding: 4px;
	width: 200px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.contenedor_formulario {
	margin: 50px 10px;
	text-align: center;
}

.formulario {
	width: 100%;
	margin: 0 auto;
	font-size: 15px;
}

.formulario h2 {
	text-align: center;
	margin: 10px;
	margin-bottom: 25px;
}

.formulario input {
	width: 50%;
	margin-bottom: 5px;
}

.formulario textarea.comentario {
	width: 50%;
	margin-left: 21px;
}

.formulario textarea.consulta {
	width: 50%;
	margin-left: 49px;
}

.formulario input.nombre {
	margin-left: 50px;
}

.formulario input.mail {
	margin-left: 70px;
}

.formulario input.telefono {
	margin-left: 50px;
}

.formulario input.dia {
	margin-left: 87px;
}

.formulario input.hora_entrada {
	margin-left: 17px;
}

.formulario input.hora_salida {
	margin-left: 33px;
}

.formulario input#condiciones, .formulario input#whatsapp {
	margin-left: 0;
	width: 20px;
	margin-top: 25px;
}

.condiciones, .whatsapp {
	text-align: left;
	margin-left: 10px;
}

form a {
	color: black;
}

form a:hover {
	color: #9bd155;
}

.boton {
	text-align: center;
}

.btn {
	margin-top: 15px;
	font-size: 15px;
	border-radius: 5px;
	padding: 6px;
}

.btn:hover {
	color: grey;
}

.btn:active {
	padding: 8px 4px 4px 8px;
}

/* TEXTOS LEGALES
   ========================================================================= */
.contenedorAvisoLegal {
	width: 80%;
	opacity: 0.8;
	margin: 50px auto;
	background-color: white;
	-webkit-box-shadow: 3px 6px 20px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 3px 6px 20px 0px rgba(0, 0, 0, 0.75);
	color: black;
	padding: 25px;
}

.contenedor_texto {
	width: 90%;
	margin: 20px auto;
	text-align: left;
}

.avisoLegal {
	padding-top: 100px;
}

.contenedor_texto h3 {
	margin: 0 35px 35px 35px;
	text-align: center;
	font-size: 18px;
}

/* COOKIES
   ========================================================================= */
#overbox3 {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: 99;
	display: block;
	opacity: 0.9;
}

#infobox3 {
	margin: auto;
	position: relative;
	top: 0px;
	height: 73px;
	width: 100%;
	text-align: center;
	background-color: #1A1A1A;
	color: white;
}

#infobox3 p {
	padding: 5px;
	line-height: 17px;
	font-size: 12px;
	text-align: center;
}

#infobox3 p a {
	text-decoration: none;
}

#infobox3 p a {
	color: #2CA089;
}

/* FOOTER
   ========================================================================= */
footer {
	background-color: #2CA089;
	font-size: 15px;
	padding-top: 15px;
	color: white;
	bottom: 0;
	width: 100%;
	margin-top: 50px;
}

.footerPrincipal {
	padding: 30px;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-flow: row wrap;
}

img.logo {
	height: 50px;
	text-align: left;
}

.logo_footer, .redes {
	width: 33%;
	display: inline-block;
}

.informacion ul, .informacion h3 {
	text-align: center;
	display: none;
}

.redes {
	text-align: right;
}

footer a {
	text-decoration: none;
	color: white;
}

footer .fa {
	font-size: 25px;
	color: white;
}

footer .fa:hover, a:hover {
	color: black;
}

.espacio {
	margin-top: 10px;
}

.oculto_movil {
	display: none;
}

.oculto_movil_footer {
	display: none;
}

.redes a {
	color: white;
}

footer h3 {
	margin-bottom: 10px;
}

/*RESPONSIVE
========================================================================= */

/* Para resoluciones a partir de 500px */
@media only screen and (min-width: 500px) {
	.condiciones, .whatsapp {
		margin-left: 20px;
	}
}

/* Para resoluciones a partir de 600px */
@media only screen and (min-width: 600px) {
	nav>ul>li>ul#lista_movil a {
		color: black;
		font-size: 19px;
	}
	nav>#lista_principal_index ul {
		padding-top: 5px;
	}
	#inicio img {
		padding-left: 0;
	}
	.presentacion {
		text-align: center;
		font-size: 30px;
	}
	.foto {
		min-height: 300px;
		width: 400px;
	}
	.contenedor_contacto {
		width: 50%;
		margin: 0 auto;
	}
	.contenedor_eventos {
		margin-top: 25px;
	}
	.contenedor_eventos_secundarios p, .contenedor_articulo_secundario p {
		font-size: 16px;
	}
	.evento_secundario, .articulo_secundario {
		text-align: center;
		max-width: 600px;
	}
	.ordenador {
		display: inline;
	}
	.movil {
		display: none;
	}
	footer {
		font-size: 20px;
	}
	.condiciones, .whatsapp {
		margin-left: 40px;
	}
	.explicacion_articulo {
		padding-top: 40px;
	}
	.ultimo {
		padding-top: 0;
	}
	p.pieFoto {
		font-size: 12px;
	}
	.google {
		margin-top: 40px;
	}
	.google h3 {
		margin-top: 25px;
		margin-bottom: 35px;
		font-size: 25px;
	}
}

/* Para resoluciones a partir de 700px */
@media only screen and (min-width: 700px) {
	img.img_ordenador {
		display: inline-block;
	}
	img.img_movil {
		display: none;
	}
	.condiciones, .whatsapp {
		margin-left: 75px;
	}
}

/* Para resoluciones a partir de 800px */
@media only screen and (min-width: 800px) {
	h1 {
		font-size: 30px;
	}
	nav>#lista_principal_index {
		font-size: 18px;
	}
	p, span {
		font-size: 20px;
	}
	.presentacion h3 {
		margin-bottom: 20px;
	}
	#infobox3 p {
		padding-top: 15px;
		font-size: 15px;
	}
	.explicacion p, span {
		padding-top: 25px;
	}
	.explicacion_articulo p {
		padding-top: 0;
	}
	#infobox3 p {
		font-size: 18px;
	}
	.contenedor_texto {
		width: 80%;
	}
	.contenedor_texto h3 {
		font-size: 20px;
	}
	.condiciones, .whatsapp {
		margin-left: 120px;
	}
	.oculto_movil_footer {
		display: inline-block;
	}
	p.pieFoto {
		font-size: 15px;
	}
}

/* Para resoluciones a partir de 880px */
@media only screen and (min-width: 880px) {
	h1 {
		margin-top: 50px;
	}
	.condiciones, .whatsapp {
		margin-left: 150px;
	}
	.evento_secundario, .articulo_secundario {
		min-width: 350px;
	}
}

/* Para resoluciones a partir de 1000px */
@media only screen and (min-width: 1000px) {
	.explicacion_blog h3 {
		font-size: 30px;
	}
	.contenedor_eventos_secundarios p, .contenedor_articulo_secundario p {
		font-size: 19px;
	}
	h3.eventos_pasados {
		margin-top: 55px;
		font-size: 30px;
	}
	.evento_secundario h3, .articulo_secundario h3 {
		font-size: 26px;
	}
	h3.titulo_articulo {
		font-size: 25px;
	}
	.explicacion p, span {
		padding-top: 35px;
	}
	.explicacion_blog {
		padding-top: 100px;
	}
	.explicacion_evento {
		margin: 40px auto;
	}
	.explicacion_articulo {
		margin: 20px auto;
	}
	.contenedor_formulario {
		margin: 25px;
		text-align: center;
	}
	.boton {
		text-align: center;
	}
	.btn {
		margin-top: 15px;
		font-size: 15px;
		border-radius: 5px;
		padding: 6px;
	}
	.contenedor_menus h3 {
		margin-top: 40px;
		font-size: 25px;
	}
	.img_menu img {
		width: auto;
		height: 400px;
	}
	footer .fa {
		font-size: 40px;
	}
	.oculto_movil {
		display: inline-block;
	}
	.contenedor_eventos {
		margin-top: 40px;
	}
	.evento_secundario, .articulo_secundario {
		max-width: 600px;
	}
	.contenedor_contacto h3 {
		font-size: 35px;
	}
	.formulario {
		width: 50%;
		margin: 0 auto;
		font-size: 20px;
	}
	.formulario h2 {
		text-align: center;
		margin: 10px;
	}
	.formulario input {
		width: 70%;
	}
	.formulario textarea.comentario {
		width: 70%;
		margin-left: 5px;
	}
	.formulario textarea.consulta {
		width: 70%;
		margin-left: 43px;
	}
	.formulario input.nombre {
		margin-left: 45px;
	}
	.formulario input.mail {
		margin-left: 70px;
	}
	.formulario input.telefono {
		margin-left: 45px;
	}
	.formulario input.dia {
		margin-left: 94px;
	}
	.formulario input.hora_entrada {
		margin-left: 1px;
	}
	.formulario input.hora_salida {
		margin-left: 20px;
	}
	.contenedor_texto {
		width: 70%;
	}
	.contenedor_texto h3 {
		font-size: 25px;
	}
	.condiciones, .whatsapp {
		margin-left: 0px;
	}
	.contenedor_formulario {
		margin: 80px 25px;
	}
	.explicacion_articulo h3 {
		font-size: 35px;
	}
	.ultimo {
		padding-top: 0;
	}
	p.pieFoto {
		font-size: 15px;
	}
}

/* Para resoluciones a partir de 1100px */
@media only screen and (min-width: 1100px) {
	.informacion ul, .informacion h3 {
		display: block;
	}
	#sobreNosotros, #consultoria, #enEmpresa, #campaign, #contacto, #blog {
		display: block;
	}
	nav>ul>li#menu_moviles, #menu_consultoria {
		display: none;
	}
	.avisoLegal_movil {
		display: none;
	}
}

/* Para resoluciones a partir de 1250px */
@media only screen and (min-width: 1250px) {
	h1 {
		margin-top: 60px;
		font-size: 35px;
	}
	#inicio {
		display: inline-block;
	}
	.titulo_movil {
		display: none;
	}
	nav {
		margin-top: 0;
	}
	nav>ul>li {
		padding: 20px;
	}
	/*
	nav>#lista_principal_index #sobreNosotros, nav>#lista_principal_index #consultoria,
		nav>#lista_principal_index #campaign, nav>#lista_principal_index #contacto,
		nav>#lista_principal_index #blog {
		padding-top: 35px;
	}
	*/
	.contenedor_texto {
		width: 70%;
	}
	.condiciones, .whatsapp {
		margin-left: 50px;
	}
	img.bandera {
		width: 50px;
	}
}

/* Para resoluciones a partir de 1400px */
@media only screen and (min-width: 1400px) {
	nav>#lista_principal_index {
		font-size: 22px;
	}
	.fixed_abajo {
		position: fixed;
		bottom: 0;
	}
	.condiciones, .whatsapp {
		margin-left: 60px;
	}
	.contenedor_formulario {
		margin: 100px 25px;
	}
	.explicacion_blog {
		padding-top: 130px;
	}
}